

#blog{
    font-family: "Faster One", system-ui;
    color: black;
    font-size:xx-large;
    margin-left: 20px;

}

@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");